* {
  margin: 0;
  padding: 0;
}
/*************************
GLOBAL
**************************/
header {
  margin:  0 auto 20px;
  background-color: #00aeff;
  color: white;
  padding: 20px 0 20px;
  text-align: center;
  border-bottom: 5px #0093d8 solid;
}
.wrapper {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

img {
  max-width: 100%;
}
footer {
  text-align: center;
}
ul li {
  list-style: none;
}
/*************************
HEADER
**************************/
a {
  text-decoration: none;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}
h2 {
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
  /*************************
NAVIGATION
  **************************/
}
nav li {
  display: inline;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-right: 10px;
}
nav a {
  color: white;
}
nav a:hover {
  color: #0093d8;
}
nav {
  margin: 15px 0 0;
}
nav a.chosen{
  color: black;
}
/*************************
PAGE: HOME
**************************/
.wrapper h3 {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}
.part1 {
  margin: 30px auto 30px;
  overflow: auto;
}
.part2 {
  margin: 30px auto 30px;
}
section a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #00938d;
  font-style: italic;
  text-align: center;
}
a.omg {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #00938d;
  font-style: italic;
  text-align: center;
}
.part1 ul {
  margin: 20px auto;
}
.part1 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.part1 li {
  width: 25%;
  float: left;
  margin: 4.166666667%;
}
.part2 {
  border-top: 3px #00938d solid;
  padding-top: 10px;
}
/*************************
PAGE: ABOUT
**************************/
.intro h1 {
  font-family: 'Lobster', cursive;
  font-size: 1.9em;
  margin-bottom: 40px;
  color: skyblue;
  text-decoration: underline;
  text-align: center;
}
.intro img {
  border-radius: 100%;
  width: 300px;
}
.des {
  margin: 30px auto 50px;
  font-family: 'Open Sans', sans-serif;
}
